/*
Error: Invalid CSS after "  }": expected selector or at-rule, was "}"
        on line 51 of scss/table.scss
        from line 14 of scss/app.scss

46:       //   border-top-right-radius: 13px !important;
47:       //   border-bottom-right-radius: 13px !important;
48:       }
49:     }
50:   }
51: }
52: 
53: .dx-datagrid-content .dx-datagrid-table {
54:   border-collapse: inherit !important;
55: }
56: 

Backtrace:
scss/table.scss:51
scss/app.scss:14
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:42:in `parse'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:321:in `to_tree'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `block in with_import'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in `with_import'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/home/erick_93/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/home/erick_93/.rvm/gems/ruby-2.7.0/bin/sass:23:in `load'
/home/erick_93/.rvm/gems/ruby-2.7.0/bin/sass:23:in `<main>'
/home/erick_93/.rvm/gems/ruby-2.7.0/bin/ruby_executable_hooks:24:in `eval'
/home/erick_93/.rvm/gems/ruby-2.7.0/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  }\": expected selector or at-rule, was \"}\"\A         on line 51 of scss/table.scss\A         from line 14 of scss/app.scss\A \A 46:       //   border-top-right-radius: 13px !important;\A 47:       //   border-bottom-right-radius: 13px !important;\A 48:       }\A 49:     }\A 50:   }\A 51: }\A 52: \A 53: .dx-datagrid-content .dx-datagrid-table {\A 54:   border-collapse: inherit !important;\A 55: }\A 56: "; }
