/*Navbar styles*/
.header .navbar {
  background: $white-color !important;
}

.logo-avatar-header {
  background-repeat: no-repeat !important;
  width: 40% !important;
  height: 50px !important;
  margin: 10px 20px !important;
  padding: 0 !important;
  background-size: contain !important;
}

.header a {
  color: $black-gray !important;
}


@media only screen and (max-width: 768px) {
  .header a {
    display: flex;
    flex-direction: column;
  }
}