/*Platform general styles*/
.main-container {
  background: $white-color !important;
  padding: 110px 15px 50px !important;
}

.alert-celula-title {
  color: $white-color !important;
  background-color: $btn-platform !important;
  border-color: $btn-platform !important;
  border-radius: 10px !important;
}

.alert-celula {
  color: $white-color !important;
  background-color: $primary-color-platform !important;
  border-color: $primary-color-platform !important;
  
}

.alert-celula-secondary {
  color: $white-color !important;
  background-color: $background-card !important;
  border-color: $background-card !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 13px !important;
  border-bottom-left-radius: 13px !important;
}


.btn-primary-celula {
  background-color: $btn-platform !important;
  border-color: $btn-platform!important;
  color: $white-color !important;
}

.btn-outline-primary-celula {
  border: 2px solid $btn-platform !important;
  color: $white-color !important;
}

.btn-outline-primary-celula:hover {
  background-color: $btn-platform !important;
  border-color: $btn-platform!important;
  color: $white-color !important;
}

.btn-circle {
  border-radius: 60px !important;
  width: 40px !important;
  height: 40px !important;
}

.alert-celula-azteca {
  color: #383d41 !important;
  background-color: #e2e3e5 !important;
  border-color: #d6d8db !important; 
}




