$primary-color: #20843F;
$primary-color-platform: #8EBC51;
$btn-platform: #0B4A25;
$black-color: #444444;
$black-gray: #7E7E7E;
$white-color: #FFFFFF;
$background: linear-gradient(90deg, rgba(37, 145, 69, 0.95) 0%, rgba(141, 198, 65, 0.95) 100%) !important;
$background-card: #E2E3E5;